
body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url('images:/grain.png');
    background-color: #f2f2f2;
    position: relative;  
    margin: 0;
    transition: background-color 0.5s ease; /*cuanto se demora en cambiar al otro color de fondo*/
    
   
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(http://www.transparenttextures.com/patterns/bedge-grunge.png);
    opacity: 1; /* más bajo = más sutil */
    pointer-events: none;
    z-index: -1; /*esto manda el efecto grain atras de todo*/ 
  }

  header {
  
    border-bottom: 2px solid #2b2b2b; /*color linea inicio*/
    padding-bottom: 10px;
    line-height: 1.6;
    padding: 40px;
    margin-right: 20px;
    margin-left: 20px;
    
    
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50px;
    right: 40px;
    display: flex;
    font-family: "Oswald", sans-serif;
    
  }
  
  nav a {  /*menu pricipal letras*/
  
    text-decoration: none;
    color: #2b2b2b;
      padding: 5px 10px;
      transition: color 0.3s;
    }
   
.navbar a:hover {
  color: #ffffff; 
}

   
      
    
    .contenedor {
        display: flex;
        justify-content: space-between; /* separa imagen y texto */
        align-items: center;            /* alinea verticalmente */
        padding: 120px 100px;  
             /* espacio interior (arriba/abajo - lados) */
      }
      
      .caja-imagen {
        width: 550px;
        height: 550px;
        border-radius: 12px;
        overflow: hidden;
        flex-shrink: 0; /* evita que se encoja si no hay espacio */
      }
      
      .caja-imagen img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      

    
      .about-me-container {  /*titulo y texto*/
        width: 60%; /* puedes ajustar el ancho */
        text-align: left;
        font-family:  "Bebas Neue", sans-serif;
        color: #000;
        position: relative;
        top: -120px; /* lo sube 50px hacia arriba */
      }
      
      .about-me-container h1 { /*titulo*/
        font-size: 55px;
        margin-bottom: 50px;
      }
      
      .about-me-container p { /*texto*/
        font-size:  30px;
        line-height: 1.6;
      }
      
      .about-text {
        max-width: 620px; /* controlas el ancho del párrafo */
        margin: 0 auto; /* centra el texto dentro del contenedor */
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: -70px; /* mover el texto hacia abajo*/
        margin-left: 2px; /*mover texto hacia la izquiera*/ 
        text-align: justify;
      }
